body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  padding: 5px;
  height: 150px;
  margin: 2px
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}

.aside {
  background: #fff;
  float: left;
  position: sticky;
  top: 0;
  margin: 10px;
  padding-top: 20px;
}

.main-content {
  margin-left: 15%;
  background: #eee;
  
}

._AjaxApplication {
  min-height: 300px;
  height: 100%;
  width: 85%;
  padding: 10px;
  margin: auto;
}

._loadingHandle {
  min-height: 200px;
}

.bottom-bar {
  width: 100%;
  text-align: center;
  background: #eee;
  position: sticky;
  bottom: 0;
  padding-bottom: 5px;
}
.top-bar {
  width: 100%;
  text-align: center;
  background: #eee;
  position: sticky;
  top: 0;
  padding-top: 5px;
}

.tag-link {
  text-decoration: none;
}
