body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.base-div {
  width: 85%;
  margin: auto;
}

.top-nav {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.app-box {
  overflow-y: auto;
  height: 85vh;
  border: thin solid black;
  padding: 5px;
  margin: auto;
}

img.thumbnails {
  height: 90px;
  margin: 5px 5px
}

img.thumbnails:hover {
  border: thin solid blue;
}



.text-center {
  text-align: center;
}


